/* medium style document for stormcenter.html */
body
{
    background-color: white;
    width: 100%;
}
/*header styles*/
header
{
    display: flex;
    background-color: lightgreen;
    flex-direction: row;
    padding: 1rem 0 0 .5rem;
}

.logo 
{
    margin: 0 auto 0 0;
}

.logo img 
{
    width: 60%;
}

.title
{
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 25% 0 0;
}

.title h1
{
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}

.motto
{
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
/*nav styles*/
nav button
{
    display: none;
}

ul 
{
    background-color: darkgreen;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

li a
{
    
    color: white;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

li a.home
{
    background-color: goldenrod;
    color: white;
}

li a.home:hover
{
    background-color: gold;
}

li:hover:not(.home) 
{
    background-color: lightgreen;
}
/*main styles*/

/*footer styles*/
footer
{
    background-color: darkgreen;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    padding: 1rem 0 1rem 0;
    text-align: center;
}