/* main style document */

body 
{
    font-family: Roboto, sans-serif;
    background-color: white;
    width: 100%;
}

/* header styles */

header
{
    display: flex;
    background-color: navy;
    flex-direction: row;
    padding: 1rem 0 0 .5rem;
}

.logo
{
    background-color: white;
    border-radius: 25px;
}

.logo img 
{
    width: 100%;
}

.headertitle
{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* nav styles */

nav ul 
{
    background-color: lightblue;
    list-style-type: none;
}

nav li a
{
    color: navy;
    text-align: center;
    text-decoration: none;
}

nav li a.home
{
    background-color: blue;
    color: white;
}

nav li a.home:hover
{
    background-color: navy;
}

nav li a:hover:not(.home)
{
    background-color: blue;
    color: white;
}

/* main styles */

.maintitle h1
{
    color: navy;
    text-align: center;
}

.maintitle, .mainservices
{
    color: black;
    background-image: linear-gradient(whitesmoke, lightblue);
    border: 1px solid navy;
    border-radius: 15px;
    box-shadow: 5px 5px 10px gray;
}

.maintitle img
{
    border: 1px solid navy;
    border-radius: 15px;
}

.mainservices ul, .maintitle ul
{
    list-style-type: none;
}

.mainservices a
{
    color: navy;
    text-decoration: none;
}

.mainservices a:hover
{
    color: blue;
}

/* footer styles */

footer
{
    background-color: navy;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

@media screen and (min-width: 1080px) {
    
    /* header styles */

    .logo 
    {
        margin: 0 2rem 1rem 1rem;
    }

    .headertitle
    {
        margin: 0 0 0 5rem;
    }

    .headertitle h1
    {
        font-size: 5em;
    }

    /* nav styles */
    
    nav li a
    {
        font-size: 1.5em;
    }

    /* main style */
    
    .mainservices, .maintitle
    {
        margin: .5rem .5rem 1rem .5rem;
        padding: 2rem;
    }

    .maintitle p, .mainservices p
    {
        font-size: 1.2em;
    }

    .mainservices li, .maintitle li
    {
        margin: .75rem 0 .75rem 0;
        font-size: 1.2em;
    }

    .maintitle img 
    {
        width: 40%;
    }
}

@media screen and (min-width: 480px) {

    /* nav styles */

    nav button 
    {
        display: none;
    }

    nav ul 
    {
        display: flex;
        flex-direction: row;
        margin: 0;
        overflow: hidden;
        padding: 0;
    }

    nav li a
    {
        display: block;
        padding: 1rem;
    }

    /* main styles */

    .maintitle img 
    {
        float: right;
        overflow: auto;
    }

    /* footer styles */
    
    footer
    {
        padding: 1rem;
        font-size: small;
    }
}