/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/* small screen style document for stormcenter.html */
/* header styles */

header
{
    display: flex;
    background-color: lightgreen;
    flex-direction: row;
    padding: 1rem 0 0 .5rem;
}

.logo 
{
    margin: 0 .5rem 0 0;
    width: 30%;
}

.logo img 
{
    width: 100%;
}

.title
{
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto 1rem auto;
}

.title h1
{
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}

.motto
{
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .65em;
}

/* nav styles */

body
{
    background-color: white;
    width: 100%
}

nav button
{
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    margin: .5rem;
}

nav button:hover 
{
    background-color: lightgreen;
    color: darkgreen;
}

nav
{
    background-color: darkgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.75em;
    text-align: center;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li
{
    margin: 0 0 .75rem 0;
    padding: .5rem;
}

li a
{
    color: white;
    text-decoration: none;
    width: 100%;
}

li:hover 
{
    background-color: lightgreen;
}

li.homelink
{
    background-color: goldenrod;
}

li.homelink:hover
{
    background-color: gold;
}


.hide
{
    display: none;
}

/* main styles */

main h1 
{
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
}

form
{
    color: darkgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    margin: 1rem 0 1rem 0;
    padding: 0;
    width: 100%
}

form fieldset
{
    background-color: lightgreen;
    border: transparent;
    border-radius: 10px;
    margin: .1rem 0 .1rem 0;
}

form fieldset legend
{
    font-size: 1.2em;
}

#info
{
    font-size: smaller;
    text-align: start;
}

input, select, textarea
{
    border-radius: 10px;
    color: darkgreen;
    font-size: small;
    padding: .25rem;
}

input[type=text], input[type=email], input[type=tel], input[type=number]
{
    width: 80%;
}

form div
{
    margin: 1rem 0 1rem 0;
}

.indanger input[type=radio]
{
    margin: .5rem 0 .5rem 0;
}

.personal input:invalid 
{
    color: red;
}

form input[type="submit"]
{
    background-color: darkgreen;
    border: 1px solid darkgreen;
    color: white;
    font-size: xx-large;
    height: 50px;
    width: 50%;
}

/* footer styles */

footer
{
    background-color: darkgreen;
    color: white;
    display: grid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-small;
    grid-template-columns: 1fr;
}

.map 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.map iframe
{
   display: none;
}

.footerend
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    text-align: center;
    width: 100%;
}