/* main style document */

body 
{
    font-family: Roboto, sans-serif;
    background-color: white;
    width: 100%;
}

/* header styles */

header
{
    display: flex;
    background-color: navy;
    flex-direction: row;
    padding: 1rem 0 0 .5rem;
}

.logo
{
    background-color: white;
    border-radius: 25px;
}

.logo img 
{
    width: 100%;
}

.headertitle
{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* nav styles */

nav ul 
{
    background-color: lightblue;
    list-style-type: none;
}

nav li a
{
    color: navy;
    text-align: center;
    text-decoration: none;
}

nav li a.home
{
    background-color: blue;
    color: white;
}

nav li a.home:hover
{
    background-color: navy;
}

nav li a:hover:not(.home)
{
    background-color: blue;
    color: white;
}

/* main styles */

.maintitle h1, .gallery h1, .form h1
{
    color: navy;
    text-align: center;
}

.maintitle
{
    color: black;
    background-image: linear-gradient(whitesmoke, lightblue);
    border: 1px solid navy;
    border-radius: 15px;
    box-shadow: 5px 5px 10px gray;
}

.maintitle img, .gallery img
{
    border: 1px solid navy;
    border-radius: 15px;
}

.maintitle ul
{
    list-style-type: none;
}

.gallery
{
    display: grid;
    margin: 0;
    text-align: center;
}

.gallery img
{
    width: 50%;
}

.form
{
    color: navy;
}

.form fieldset
{
    background-color: lightblue;
    border: transparent;
    border-radius: 15px;
}

.form #info
{
    text-align: start;
    font-size: smaller;
}

.form fieldset legend
{
    font-weight: bold;
    font-size: larger;
}

.form input, textarea
{
    border-radius: 15px;
    color: navy;
}

.form input[type=submit]
{
    background-color: navy;
    border: 1px solid blue;
    color: white;
}

/* footer styles */

footer
{
    background-color: navy;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

@media screen and (min-width: 1080px) {
    
    /* header styles */

    .logo 
    {
        margin: 0 2rem 1rem 1rem;
    }

    .headertitle
    {
        margin: 0 0 0 5rem;
    }

    .headertitle h1
    {
        font-size: 5em;
    }

    /* nav styles */
    
    nav li a
    {
        font-size: 1.5em;
    }

    /* main style */
    
    .maintitle
    {
        margin: .5rem .5rem 1rem .5rem;
        padding: 2rem 2rem 10rem .5rem;
    }

    .maintitle p
    {
        font-size: 2em;
    }

    .maintitle li
    {
        margin: .75rem 0 .75rem 0;
        font-size: 2em;
    }

    .maintitle img 
    {
        box-shadow: 5px 5px 10px gray;
        width: 40%;
    }
}

@media screen and (min-width: 480px) {

    /* nav styles */

    nav button 
    {
        display: none;
    }

    nav ul 
    {
        display: flex;
        flex-direction: row;
        margin: 0;
        overflow: hidden;
        padding: 0;
    }

    nav li a
    {
        display: block;
        padding: 1rem;
    }

    /* main styles */

    .maintitle h1, .gallery h1, .form h1
    {
        font-size: 1.5em;
    }

    .maintitle img 
    {
        float: right;
        overflow: auto;
    }

    .gallery
    {
        grid-template-columns: 1fr;
    }

    .gallery img
    {
        width: 80%;
        margin: 0 10% 0 10%;
    }

    .form form 
    {
        margin: .5rem;
    }

    .form div
    {
        margin: .5rem 0 .5rem 0;
    }

    .form input[type=text], input[type=email], input[type=tel]
    {
        width: 25%;
    }

    .form input, textarea
    {
        font-size: small;
        padding: .25rem;
    }

    .form input[type="submit"]
    {
        font-size: larger;
        height: 50px;
        margin: .5rem 0 .5rem 0;
        width: 20%;
    }

    /* footer styles */
    
    footer
    {
        padding: 1rem;
        font-size: small;
    }
}