/*small screen style document for preston-5.html*/
/*header styles*/
header
{
    background-color: lightgreen;
    padding: 1rem 0 3rem .5rem;
    text-align: center;
    width: 100%;
}

header .logo, .title, .weather
{
    display: inline-block;
    vertical-align: middle;
}

.logo 
{
    float: left;
    margin: 0 .5rem 0 0;
    width: 30%;
}

.logo img 
{
    width: 100%;
    max-width: 150px;
}

.title
{
    margin: 0 auto 1rem auto;
}

.title h1
{
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

.motto
{
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .65em;
}

.weather
{
    display: none;
}
/*nav styles*/
body
{
    background-color: white;
    width: 100%
}

nav
{
    background-color: darkgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.75em;
    text-align: center;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li
{
    margin: 0 0 .75rem 0;
    padding: .5rem;
}

li a
{
    color: white;
    text-decoration: none;
    width: 100%;
}

li a.home
{
    background: goldenrod;
    color: white;
}

li:hover 
{
    background-color: lightgreen;
}
/*main styles*/
main h1 
{
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
}

.hero
{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1rem auto;
    position: relative;
}

.hero img
{
    display: block;
    margin: 0 auto 0 auto;
    width: 90%;
}

.weathersummary
{
    background-color: lightgreen;
    border: 1px solid darkgreen;
    border-radius: 2rem;
    left: 2rem;
    position: absolute;
    padding: 1rem;
    top: 1.5rem;
}

.weathersummary h3
{
    font-size: 1em;
}

.label
{
    font-size: .75em;
}

.forecast 
{
    display: none;
}

.mainarticle
{
    background-color: lightgreen;
    border: 1px solid darkgreen;
    margin: 3rem .5rem 1rem .5rem;
    padding: .5rem 2rem .5rem 2rem;    
}

.articletitle h2
{
    color: goldenrod;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
}

.articletitle h3
{
    color: darkgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    font-style: italic;
}

.mainarticle p
{
    color: darkgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    text-align: justify;
}

.mainarticle img
{
    border: 1px solid darkgreen;
    float: left;
    margin: 0 .5rem 1rem .5rem;
    width: 100%;
}
/*footer styles*/
footer
{
    background-color: darkgreen;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    padding: 1rem 0 1rem 0;
    text-align: center;
}