/* medium style document for preston-8.html */
body
{
    background-color: white;
    width: 100%;
}
/*header styles*/
header
{
    display: flex;
    background-color: lightgreen;
    flex-direction: row;
    padding: 1rem 0 0 .5rem;
}

.logo 
{
    margin: 0 auto 0 0;
}

.logo img 
{
    width: 60%;
}

.title
{
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 .5rem 1rem .1rem;
}

.title h1
{
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}

.motto
{
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.weather
{
    align-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid white;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    height: 50%;
    margin: 0 1rem 0 1rem;
    width: 20%;
}

.weather img
{
    margin: 0 1rem 0 0;
    width: 50%
}

.weather span
{
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
/*nav styles*/
nav button
{
    display: none;
}

ul 
{
    background-color: darkgreen;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

li a
{
    
    color: white;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

li a.home
{
    background-color: goldenrod;
    color: white;
}

li a.home:hover
{
    background-color: gold;
}

li:hover:not(.home) 
{
    background-color: lightgreen;
}
/*main styles*/
main h1 
{
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
}

.hero
{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1rem auto;
    position: relative;
    width: 100%;
}

.hero img
{
    margin: 0 5% 0 5%;
    width: 90%;
}

.weathersummary
{
    background-color: lightgreen;
    border: 1px solid darkgreen;
    border-radius: 2rem;
    left: 5rem;
    position: absolute;
    padding: 1rem;
    top: 1.5rem;
}

.weathersummary h3
{
    font-size: 1em;
}

.label
{
    font-size: 1em;
}

.forecast h3
{
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
}

.forecast
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.forecast table
{
    border: 2px solid darkgreen;
    border-collapse: collapse;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.75em;
    margin: 0 auto 0 auto;
}

.forecast thead
{
    background-color: darkgreen;
    color: white;
    text-align: center;
}

.forecast thead th
{
    border: 1px solid lightgreen;
}

.forecast tbody
{
    background-color: lightgreen;
    color: darkgreen;
    text-align: center;
}

.forecast tbody th, td
{
    border: 1px solid darkgreen;
}

.forecast th, td
{
    padding: 1rem;
}

.mainarticle
{
    background-color: lightgreen;
    border: 1px solid darkgreen;
    margin: 1rem .5rem 1rem .5rem;
    padding: 0 2rem 2rem 2rem;    
}

.articletitle h2
{
    color: goldenrod;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
}

.articletitle h3
{
    color: darkgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    font-style: italic;
}

.mainarticle p
{
    color: darkgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25em;
    text-align: justify;
}

.mainarticle img
{
    border: 1px solid darkgreen;
    float: right;
    margin: 0 .5rem .5rem 1rem;
    overflow: auto;
}
/*footer styles*/
footer
{
    background-color: darkgreen;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    padding: 1rem 0 1rem 0;
    text-align: center;
}