/* CIT 230 - Assignment Portal CSS Template */
/** is a wildcard referring to all elements. */
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; }

body {
    font-size: 16px;
    line-height: 32px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

header h1 {
    font-size: 4em;
    color: white;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid black;
    margin: .75em 0 0 0;
}

li {
    margin: 0 0 0 2em;
    padding: .75em 0 .5em 0;
    list-style: none;
}

li a
{
    color: green;
    text-decoration: none;
}

li a:hover
{
    color: lightgreen;
}

header, footer, footer a {
    text-align: center;
    background-color: green;
}

header
{
    padding: 1.2rem;
}

header img {
    width: 25%;
    height: auto;
    float: right;
    margin: .5em .5em 0 0;
}

footer {
    color: white;
    font-size: small;
}

footer a
{
    color: white;
    text-decoration: none;
}

footer a:hover
{
    color: lightgreen;
}